html, body{
    height: 100%; /*Needed to extend the background all the way down*/
    background-color: #3E2C50;
    text-align:center;
    font-family: 'Comfortaa', sans-serif;
    overflow: hidden;
}

#main{
    transition: margin-left .5s;
    padding-bottom: 3rem;
}

.title{
    font-family: 'Comfortaa', sans-serif;
    font-size:50px;
    color:white;
}
.circle.flex {
    display: flex;
    justify-content: center;
    align-items:center;
    height:500px;
}

.light{
    z-index: 2;
    height: 400px;
    width: 400px;
    background-color:rgba(39, 38, 38, 0.342); /*dunno why but I need this*/
    border-radius: 50%;
    box-shadow: 0 0 15px 0 black;
    display: inline-block;
}

.btn {
    border:none;/* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.btn_holder{
    position:absolute;
    left: 5%;
    bottom: 5%;
}
.disconnect_btn {background-color: #674E7F;} /* Purple button */
.disconnect_btn:hover {background-color: #C6AEDC;}

#sidebar{
    position:fixed;
    background-color:#211B28;
    border:0px;
}



.w3-bar-item, .w3-button{
    font-size:20px;
    text-align:center !important; /*The !important should be before the ";" */
}

.w3-bar-item, .w3-button a:hover{
    background-color: #674E7F;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before{
    position: absolute;
}

.slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider.round {
    background-color: #C6AEDC;
}

input:focus + .slider.round {
    box-shadow: 0 0 1px #C6AEDC;
}

input:checked + .slider.round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.top-section {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}

.colourSquare {
    margin: 25px 1px;
    height: 50px;
    width: 50px;
    display:inline-block;
}

.radio-left{
    text-align: left;
    margin-left: 10%;
}

#colours{
    visibility: hidden;
    float:left;
}

#slidr{
    visibility: hidden;
    float:right;
}

.slidecontainer {
    display:block;
    margin-top:-65px; /*done via trial and error*/
    color:white;
    position: sticky; /*I need a higher z-index in order to make it appear. This requires a relative/absolute/sticky/... position. This one works*/
    z-index: 10;
    visibility: hidden;
}

/* CSS for Range Slider */

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider.range {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: white;
    outline: none;
    opacity: 1.0;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d385d1;
    cursor: pointer;
}

.slider.range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d385d1;
    cursor: pointer;
}
/* End of CSS for range slider */